{%extends 'template.html'%}

{% block content%}
    <br>

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="center-align">Editar routers</h2>
            </div>
        </div>
        <hr><br>
        <div class="row">
            <table class="highlight centered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th></th>
                    </tr>
                </thead>
        
                <tbody>
                    {% for item in current_routers: %}
                    <tr>
                        <td>{{item.hostname}}</td>
                        <td><a href="editar/{{item.hostname}}" data-router="{{item.hostname}}">Editar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
{% endblock %} 